* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box; }

:root {
  font-size: 62.5%; }

/* Estilos Etiquetas globales  */
h1 {
  width: 80%;
  margin: 0 auto 10px auto;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  line-height: 2.8rem; }

/* Estilos Header  */
header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center; }

.nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .nav .menu-button {
    width: 35px;
    height: 35px;
    position: absolute; }

.inactive {
  display: none; }

.hamburguerMenu {
  background: url(/assets/icons/menu.png);
  background-size: 100% 100%; }

.xMenu {
  background: url(/assets/icons/close.png);
  background-size: 100% 100%; }

.containerlistMenu {
  width: 70%;
  max-width: 310px;
  margin: 10px auto 30px auto;
  background: white; }
  .containerlistMenu .listMenu {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    list-style: none; }
    .containerlistMenu .listMenu .itemListMenu {
      margin: 10px 0; }
      .containerlistMenu .listMenu .itemListMenu a {
        text-decoration: none;
        color: black; }

/* Estilos Main  */
main {
  width: 100%;
  position: relative; }

.container-linkCards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 300px));
  grid-template-rows: repeat(8, minmax(380px, auto));
  place-content: center;
  gap: 30px;
  margin-bottom: 30px; }
  .container-linkCards .section-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #a0a0a0;
    border-radius: 15px;
    overflow: hidden; }
    .container-linkCards .section-card h2 {
      position: absolute;
      top: 30px;
      width: 80%;
      margin: 0 auto 10px auto;
      font-family: "Hind Siliguri", sans-serif;
      font-size: 2.5rem;
      text-align: center;
      line-height: 2.8rem; }
    .container-linkCards .section-card__imgContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px; }
    .container-linkCards .section-card__button {
      position: absolute;
      bottom: 30px;
      width: 60%;
      height: 35px;
      border-radius: 5px;
      background-color: #d8d8d8;
      cursor: pointer; }
      .container-linkCards .section-card__button a {
        font-family: "Montserrat", sans-serif;
        font-size: 1.4rem;
        color: black;
        text-decoration: none; }
    .container-linkCards .section-card__button:hover {
      transform: scale(1.05); }
    .container-linkCards .section-card__button:active {
      transform: scale(1); }

.blisterIndividual img, .blisterGlider img, .eggs img, .specials img {
  width: 230px;
  height: 230px; }

.packs img {
  width: 280px;
  height: 180px; }

.packsGlider img, .tracks img {
  width: 300px;
  height: 190px; }

.mixPack img {
  width: 285px;
  height: 190px; }

.general-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 270px));
  grid-template-rows: auto-fill;
  place-content: center;
  gap: 30px;
  margin-bottom: 30px; }

.general-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #a0a0a0;
  border-radius: 15px;
  overflow: hidden; }

/* Estilos Blister Kart*/
.blister-section .blister-kart {
  width: 270px;
  height: 380px; }
  .blister-section .blister-kart__container-img {
    display: flex;
    justify-content: center;
    align-items: center; }
    .blister-section .blister-kart__container-img img {
      width: 230px;
      height: 230px; }
  .blister-section .blister-kart__details {
    width: 60%;
    margin: 15px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem; }
    .blister-section .blister-kart__details .characterBlister {
      margin-bottom: 5px; }
  .blister-section .blister-kart__addCollection {
    width: 60%;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #d8d8d8;
    cursor: pointer; }
  .blister-section .blister-kart__addCollection:hover {
    transform: scale(1.05); }
  .blister-section .blister-kart__addCollection:active {
    transform: scale(1); }

.blister-glider-section .blister-glider-kart {
  width: 270px;
  height: 400px; }
  .blister-glider-section .blister-glider-kart__container-img {
    display: flex;
    justify-content: center;
    align-items: center; }
    .blister-glider-section .blister-glider-kart__container-img img {
      width: 230px;
      height: 230px; }
  .blister-glider-section .blister-glider-kart__details {
    width: 60%;
    margin: 15px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem; }
    .blister-glider-section .blister-glider-kart__details .kartBlisterGlider {
      margin: 5px 0; }
  .blister-glider-section .blister-glider-kart__addCollection {
    width: 60%;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #d8d8d8;
    cursor: pointer; }
  .blister-glider-section .blister-glider-kart__addCollection:hover {
    transform: scale(1.05); }
  .blister-glider-section .blister-glider-kart__addCollection:active {
    transform: scale(1); }

.packs-section .packs-kart {
  width: 270px;
  height: 350px; }
  .packs-section .packs-kart__container-img {
    display: flex;
    justify-content: center;
    align-items: center; }
    .packs-section .packs-kart__container-img img {
      width: 240px;
      height: 170px; }
  .packs-section .packs-kart__details {
    width: 80%;
    margin: 0 0 15px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem; }
  .packs-section .packs-kart__addCollection {
    width: 60%;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #d8d8d8;
    cursor: pointer; }
  .packs-section .packs-kart__addCollection:hover {
    transform: scale(1.05); }
  .packs-section .packs-kart__addCollection:active {
    transform: scale(1); }

.glidersPacks-section .glidersPacks-kart {
  width: 270px;
  height: 370px; }
  .glidersPacks-section .glidersPacks-kart__container-img {
    display: flex;
    justify-content: center;
    align-items: center; }
    .glidersPacks-section .glidersPacks-kart__container-img img {
      width: 270px;
      height: 190px; }
  .glidersPacks-section .glidersPacks-kart__details {
    width: 75%;
    margin: 10px 0 15px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem; }
  .glidersPacks-section .glidersPacks-kart__addCollection {
    width: 60%;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #d8d8d8;
    cursor: pointer; }
  .glidersPacks-section .glidersPacks-kart__addCollection:hover {
    transform: scale(1.05); }
  .glidersPacks-section .glidersPacks-kart__addCollection:active {
    transform: scale(1); }

.mixPack-section .mixPack-kart {
  width: 270px;
  height: 430px; }
  .mixPack-section .mixPack-kart__container-img {
    display: flex;
    justify-content: center;
    align-items: center; }
    .mixPack-section .mixPack-kart__container-img img {
      width: 250px;
      height: 170px; }
  .mixPack-section .mixPack-kart__details {
    width: 100%;
    margin: 10px 0 15px 0;
    padding: 0 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem; }
  .mixPack-section .mixPack-kart__addCollection {
    width: 60%;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #d8d8d8;
    cursor: pointer; }
  .mixPack-section .mixPack-kart__addCollection:hover {
    transform: scale(1.05); }
  .mixPack-section .mixPack-kart__addCollection:active {
    transform: scale(1); }

.yoshis-eggs-section .yoshis-eggs-kart {
  width: 270px;
  height: 380px; }
  .yoshis-eggs-section .yoshis-eggs-kart__container-img {
    display: flex;
    justify-content: center;
    align-items: center; }
    .yoshis-eggs-section .yoshis-eggs-kart__container-img img {
      width: 230px;
      height: 230px; }
  .yoshis-eggs-section .yoshis-eggs-kart__details {
    width: 80%;
    margin: 10px 0 15px 0;
    padding: 0 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem; }
  .yoshis-eggs-section .yoshis-eggs-kart__addCollection {
    width: 60%;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #d8d8d8;
    cursor: pointer; }
  .yoshis-eggs-section .yoshis-eggs-kart__addCollection:hover {
    transform: scale(1.05); }
  .yoshis-eggs-section .yoshis-eggs-kart__addCollection:active {
    transform: scale(1); }

.specials-section .specials-kart {
  width: 270px;
  height: 380px; }
  .specials-section .specials-kart__container-img {
    display: flex;
    justify-content: center;
    align-items: center; }
    .specials-section .specials-kart__container-img img {
      width: 230px;
      height: 230px; }
  .specials-section .specials-kart__details {
    width: 60%;
    margin: 15px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem; }
    .specials-section .specials-kart__details .characterBlister {
      margin-bottom: 5px; }
  .specials-section .specials-kart__addCollection {
    width: 60%;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #d8d8d8;
    cursor: pointer; }
  .specials-section .specials-kart__addCollection:hover {
    transform: scale(1.05); }
  .specials-section .specials-kart__addCollection:active {
    transform: scale(1); }

.tracks-section .tracks-kart {
  width: 270px;
  height: 350px; }
  .tracks-section .tracks-kart__container-img {
    display: flex;
    justify-content: center;
    align-items: center; }
    .tracks-section .tracks-kart__container-img img {
      width: 260px;
      height: 180px; }
  .tracks-section .tracks-kart__details {
    width: 80%;
    margin: 5px 0 15px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem; }
  .tracks-section .tracks-kart__addCollection {
    width: 60%;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #d8d8d8;
    cursor: pointer; }
  .tracks-section .tracks-kart__addCollection:hover {
    transform: scale(1.05); }
  .tracks-section .tracks-kart__addCollection:active {
    transform: scale(1); }

footer {
  width: 100%;
  height: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  border: 1px solid red; }

footer div {
  height: 100px; }
