* {
  border: 0;
  margin: 0;
  box-sizing: border-box; }

:root {
  font-size: 62.5%; }

/* Estilos Etiquetas globales  */
h2 {
  width: 100%;
  margin: 20px 0;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 3.5rem;
  text-align: center; }

/* Estilos Header  */
header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  border: 1px solid blue; }

/* Estilos Main  */
main {
  width: 100%; }

.general-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 270px));
  grid-template-rows: auto-fill;
  place-content: center;
  gap: 30px;
  margin-bottom: 30px;
  border: 1px solid purple; }

.general-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #a0a0a0;
  border-radius: 15px;
  overflow: hidden; }

/* Estilos Blister Kart*/
.blister-section .blister-kart {
  width: 270px;
  height: 380px; }
  .blister-section .blister-kart__container-img {
    display: flex;
    justify-content: center;
    align-items: center; }
    .blister-section .blister-kart__container-img img {
      width: 230px;
      height: 230px; }
  .blister-section .blister-kart__details {
    width: 60%;
    margin: 15px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem; }
    .blister-section .blister-kart__details .characterBlister {
      margin-bottom: 5px; }
  .blister-section .blister-kart__addCollection {
    width: 60%;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #d8d8d8;
    cursor: pointer; }
  .blister-section .blister-kart__addCollection:hover {
    transform: scale(1.05); }
  .blister-section .blister-kart__addCollection:active {
    transform: scale(1); }

.blister-glider-section .blister-glider-kart {
  width: 270px;
  height: 400px; }
  .blister-glider-section .blister-glider-kart__container-img {
    display: flex;
    justify-content: center;
    align-items: center; }
    .blister-glider-section .blister-glider-kart__container-img img {
      width: 230px;
      height: 230px; }
  .blister-glider-section .blister-glider-kart__details {
    width: 60%;
    margin: 15px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem; }
    .blister-glider-section .blister-glider-kart__details .kartBlisterGlider {
      margin: 5px 0; }
  .blister-glider-section .blister-glider-kart__addCollection {
    width: 60%;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #d8d8d8;
    cursor: pointer; }
  .blister-glider-section .blister-glider-kart__addCollection:hover {
    transform: scale(1.05); }
  .blister-glider-section .blister-glider-kart__addCollection:active {
    transform: scale(1); }

.packs-section .packs-kart {
  width: 270px;
  height: 350px; }
  .packs-section .packs-kart__container-img {
    display: flex;
    justify-content: center;
    align-items: center; }
    .packs-section .packs-kart__container-img img {
      width: 240px;
      height: 170px; }
  .packs-section .packs-kart__details {
    width: 80%;
    margin: 0 0 15px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem; }
  .packs-section .packs-kart__addCollection {
    width: 60%;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #d8d8d8;
    cursor: pointer; }
  .packs-section .packs-kart__addCollection:hover {
    transform: scale(1.05); }
  .packs-section .packs-kart__addCollection:active {
    transform: scale(1); }

.glidersPacks-section .glidersPacks-kart {
  width: 270px;
  height: 370px; }
  .glidersPacks-section .glidersPacks-kart__container-img {
    display: flex;
    justify-content: center;
    align-items: center; }
    .glidersPacks-section .glidersPacks-kart__container-img img {
      width: 270px;
      height: 190px; }
  .glidersPacks-section .glidersPacks-kart__details {
    width: 75%;
    margin: 10px 0 15px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem; }
  .glidersPacks-section .glidersPacks-kart__addCollection {
    width: 60%;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #d8d8d8;
    cursor: pointer; }
  .glidersPacks-section .glidersPacks-kart__addCollection:hover {
    transform: scale(1.05); }
  .glidersPacks-section .glidersPacks-kart__addCollection:active {
    transform: scale(1); }

.mixPack-section .mixPack-kart {
  width: 270px;
  height: 430px; }
  .mixPack-section .mixPack-kart__container-img {
    display: flex;
    justify-content: center;
    align-items: center; }
    .mixPack-section .mixPack-kart__container-img img {
      width: 250px;
      height: 170px; }
  .mixPack-section .mixPack-kart__details {
    width: 100%;
    margin: 10px 0 15px 0;
    padding: 0 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem; }
  .mixPack-section .mixPack-kart__addCollection {
    width: 60%;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #d8d8d8;
    cursor: pointer; }
  .mixPack-section .mixPack-kart__addCollection:hover {
    transform: scale(1.05); }
  .mixPack-section .mixPack-kart__addCollection:active {
    transform: scale(1); }

.yoshis-eggs-section .yoshis-eggs-kart {
  width: 350px;
  height: 450px; }
  .yoshis-eggs-section .yoshis-eggs-kart__container-img img {
    width: 300px;
    height: 300px; }

.specials-section .specials-kart {
  width: 350px;
  height: 450px; }
  .specials-section .specials-kart__container-img img {
    width: 300px;
    height: 400px; }

.tracks-section .tracks-kart {
  width: 350px;
  height: 450px; }
  .tracks-section .tracks-kart__container-img img {
    width: 400px;
    height: 350px; }

footer {
  width: 100%;
  height: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  border: 1px solid red; }

footer div {
  height: 100px; }
