$font_headers: 'Hind Siliguri', sans-serif;
$font_main: 'Montserrat', sans-serif;

$color-background-buttons: rgb(216, 216, 216);
$color-borders: rgb(160, 160, 160);


*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

/* Estilos Etiquetas globales  */

h2 {
    width: 100%;
    font-family: $font_headers;
    font-size: 3.5rem;
    text-align: center;
}

/* Estilos Header  */
header {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    border: 1px solid blue;
}

/* Estilos Main  */

main {
    width: 100%;
}


.general-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(350px, 350px) );
    grid-template-rows: auto-fill, 400px;
    place-content: center;
    gap: 30px;
    margin-bottom: 30px;
    border: 1px solid purple;
}




.general-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-borders;
    border-radius: 15px;
    overflow: hidden;
}



/* Estilos Blister Kart*/

.blister-section {
    
    .blister-kart {
        width: 350px;
        height: 450px;
        // border: 1px solid blue;
        &__container-img {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width:300px;
                height: 300px;
            }
        }
        &__details {
            max-width: 100%;
            margin: 15px 0;
            font-family: $font_main;
            font-size: 1.6rem;
            .character {
                margin-bottom: 5px;
            }
        }
        &__addCollection {
            width: 50%;
            height: 35px;
            font-family: $font_main;
            font-size: 1.4rem;
            border-radius: 5px;
            background-color: $color-background-buttons;
            cursor: pointer;
        }
        &__addCollection:hover {
            transform: scale(1.05);
        }
        &__addCollection:active {
            transform: scale(1);
        }
    }
}


.blister-glider-section {
    
    .blister-glider-kart {
        width: 350px;
        height: 450px;
        &__container-img img {
            width: 275px;
            height: 300px;
        }
    }
}


.packs-section {
    
    .packs-kart {
        width: 350px;
        height: 450px;
        &__container-img img {
            width: 400px;
            height: 250px;
        }
    }
}


.yoshis-eggs-section {
    
    .yoshis-eggs-kart {
        width: 350px;
        height: 450px;
        &__container-img img {
            width:300px;
            height: 300px;
        }
    }
}


.specials-section {
    
    .specials-kart {
        width: 350px;
        height: 450px;
        &__container-img img {
            width: 300px;
            height: 400px;
        }
    }
}


.tracks-section {
    
    .tracks-kart {
        width: 350px;
        height: 450px;
        &__container-img img {
            width: 400px;
            height: 350px;
        }
    }
}



footer {
    width: 100%;
    height: auto;
    font-family: $font_main;
    font-size: 1.8rem;
    border: 1px solid red;;
}

footer div {
    height: 100px;
}