$font_headers: 'Hind Siliguri', sans-serif;
$font_main: 'Montserrat', sans-serif;

$color-background-buttons: rgb(216, 216, 216);
$color-borders: rgb(160, 160, 160);
$color-background-card-added: rgb(255, 255, 255);
$color-borders-card-added: rgb(5, 112, 5);


*{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

/* Estilos Etiquetas globales  */

h1 {
    width: 80%;
    margin: 0 auto 10px auto;
    font-family: $font_headers;
    font-size: 2.5rem;
    text-align: center;
    line-height: 2.8rem;
}



/* Estilos Header  */
header {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .menu-button {
        width: 35px;
        height: 35px;
        position: absolute;
    };
}

// Clases para cerrar abrir el menu en mobile
.inactive {
    display: none;
}


.hamburguerMenu {
    background: url(/assets/icons/menu.png);
    background-size: 100% 100%;
}

.xMenu {
    background: url(/assets/icons/close.png);
    background-size: 100% 100%;
}

// -----------

.containerlistMenu {
    width: 70%;
    max-width: 310px;
    margin: 10px auto 30px auto;
    background: white;
    .listMenu {
        width: 100%;
        font-family: $font_main;
        font-size: 1.4rem;
        list-style: none;
        .itemListMenu {
            margin: 10px 0;
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}



/* Estilos Main  */

main {
    width: 100%;
    position: relative;
    user-select: none;
}

// Tarjetas vinculos

.container-linkCards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(270px, 300px) );
    grid-template-rows: repeat(8, minmax(380px, auto));
    place-content: center;
    gap: 30px;
    margin-bottom: 30px;
    .section-card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid $color-borders;
        border-radius: 15px;
        overflow: hidden;
        h2 {
            position: absolute;
            top: 30px;
            width: 80%;
            margin: 0 auto 10px auto;
            font-family: $font_headers;
            font-size: 2.5rem;
            text-align: center;
            line-height: 2.8rem;
        }
        &__imgContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
            user-select: none;
        }
        &__button {
            position: absolute;
            bottom: 30px;
            width: 60%;
            height: 35px;
            border-radius: 5px;
            background-color: $color-background-buttons;
            cursor: pointer;
            a {
                font-family: $font_main;
                font-size: 1.4rem;
                color: black;
                text-decoration: none;
            }
        }
        &__button:hover {
            transform: scale(1.05);
        }
        &__button:active {
            transform: scale(1);
        }
    }
}

// Imagenes a medida correcta de tarjetas vinculos
.blisterIndividual img, .blisterGlider img, .eggs img, .specials img {
    width: 230px;
    height: 230px;
}

.packs img {
    width:280px;
    height: 180px;
}

.packsGlider img, .tracks img {
    width: 300px;
    height: 190px;
}

.mixPack img {
    width: 285px;
    height: 190px;
}



footer {
    width: 100%;
    height: auto;
    font-family: $font_main;
    font-size: 1.8rem;
    border: 1px solid red;;
}

footer div {
    height: 100px;
}